<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sophie's Smart Recipes</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            color: #333333;
            padding: 20px;
        }

        h1 {
            font-size: 28px;
            color: #000000;
        }

        h2 {
            font-size: 20px;
            color: #000000;
        }

        p {
            font-size: 16px;
        }

        li {
            font-size: 16px;
            line-height: 2;
        }
    </style>
</head>
<body>

    {% if error %}
        <h1>Arr narr, something went wrong!</h1>
        <p>{{ error }}</p>
    {% else %}
        <h1>{{ title }}</h1>
        <p>Total Time to Make: {{ total_time }} Minutes</p>
        <p>Serves: {{ servings }}</p>
        <img src="{{ image }}">
        <h4>Ingredients</h4>
        <ul>
            <!-- Loop(Take all ingredients until there's none left to yoink --!>
            {% for item in ingredients %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>

        <h4>Got it? Now here's what you'll need to do!</h4>
        <!-- Do the same thing as before, but with steps instead of ingredients --!>
        <ol>
            {% for step in steps %}
                <li>{{ step }}</li>
            {% endfor %}
        </ol>

    {% endif %}

</body>
</html>
